:root {
	--background-color: #FFFFFF;
	--foreground-color: #f2f2f2;
	--focus-color: #e6e6e6;
	--button-background-color: #6fb3ff;
	--button-text-color: #FFFFFF;
	--input-background-color: #FFFFFF;
	--link-color: #6fb3ff;
	--text-color: #2c2a2b;
	--top-bar-text-color: #3c3c3c;
	--scrollbar-track-color: #e6e6e6;
	--scrollbar-thumb-color: #8b8b8b;
  --secondary-btn-bg: #ccc;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--link-color);
}

::-webkit-scrollbar-track {
	background: var(--scrollbar-track-color);
}

body {
	background: #181d23;
	background-image: url("/static/raito_fe/img/soft_sky_wallpaper.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: var(--text-color);
	font-family: Helvetica, sans-serif;
	margin: 0;
	overflow: hidden;
}

button {
	background: var(--button-background-color);
	color: var(--text-color);
	font-size: 16px;
	text-color: var(--link-color);
	border: none;
	border-radius: 4px;
  cursor: pointer;
}

form input {
	background: var(--focus-color);
	color: var(--text-color);
	border-radius: 4px;
	border-width: 2px;
	border-style: none;
	height: 24px;
	margin-bottom: 10px;
  padding: 8px;
}

form textarea {
	background: var(--focus-color);
	color: var(--text-color);
	border-radius: 4px;
	border-width: 2px;
	border-style: none;
	margin-bottom: 10px;
  padding: 0 8px;
}

select {
	  background: var(--button-background-color);
        color: var(--button-text-color);
        font-size: 16px;
        border-color: var(--link-color);
        border-style: none;
        border-bottom-style: groove;
        border-radius: 4px;
        height: 30px;
}

form input[type="submit"] {
	background: var(--button-background-color);
	color: var(--button-text-color);
	font-size: 16px;
	border-color: var(--link-color);
	border-style: none;
	border-bottom-style: groove;
	border-radius: 4px;
	height: 30px;
  padding: 0 8px;
}

i {
	border: solid var(--text-color);
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
}

textarea {
	background: var(--input-background-color);
	color: #bbbec0;
	border-width: 2px;
	border-style: none;
	height: 24px;
	margin-bottom: 10px;
	outline-color: var(--link-color);
}

#account-header {
	background: #252f38;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 4px !important;
	min-height: 180px;
	position: relative;
	width: 100%;
}

#account-header-shadow {
	background: linear-gradient(to top, rgba(29, 37, 44, 0.65) 20%, rgba(0, 0, 0, 0) 100%);
	bottom: 0;
	height: 100px;
	width: 100%;
	position: absolute;
}

#account-profile-picture {
	border-radius: 5px;
	bottom: 0;
	position: absolute;
	margin-bottom: 20px;
	margin-left: 20px;
	width: 100px;
	z-index: 2;
}

#account-header-displayname {
	font-size: 22px;
	bottom: 80px;
	left: 140px;
	position: absolute;
  color: white;
}

#account-header-username {
	font-size: 15px;
	bottom: 60px;
	left: 140px;
	position: absolute;
  color: white;
}

#account-header-follow {
	background: var(--foreground-color);
	border-radius: 4px;
	padding: 8px 10px;
	bottom: 80px;
	right: 20px;
	position: absolute;
  display: flex;
  align-items: center;
}

#account-header-menu {
	background: var(--foreground-color);
	bottom: 0;
	height: 40px;
	width: 100%;
	position: absolute;
}

#account-header-menu > ul {
	margin: 0;
	margin-left: 180px;
	padding: 0;
}

#account-header-menu > ul > li {
	box-sizing: border-box;
	list-style: none;
	padding-top: 4px;
	text-align: center;
	border-color: var(--focus-color);
	border-left-style: solid;
	border-width: 1px;
	float: left;
	height: 40px;
	width: 100px;
}

#account-header-menu > ul > li:hover {
	border-bottom-color: var(--link-color);
	border-bottom-style: solid;
	border-bottom-width: 2px;
	cursor: pointer;
}

#account-bio {
	background: var(--focus-color);
	border-bottom-left-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
	padding: 20px 20px;
	overflow-y: scroll;
	min-height: 20px;
}

#account-bio a {
	color: var(--link-color);
	text-decoration: none;
}

#account-timeline {
	margin-top: 10px;
	height: 55vh;
}

#inner-side-menu {
    	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
}

#inner-timeline {
	background: var(--foreground-color);
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
}

#registration-form {
	border-top-color: var(--background-color);
	border-top-style: solid;
	border-width: 2px;
}

#status-draft {
    display: flex;
    flex-direction: column;
}

#status-draft textarea {
	min-height: 50px;
	resize: vertical;
	width: 100%;
	margin: 0;
}

#status-draft select[name="visibility"] {
	float: left;
	margin-top: 10px;
}

#status-draft input[type="submit"] {
	float: right;
	margin-top: 10px;
}

#settings button {
	background: var(--focus-color);
	color: #FFFFFF;
	font-size: 32px;
	height: 70px;
	width: 170px;
}

#settings table {
	width: 100%;
}

#settings td {
	width: 100px;
	text-align: center;
}

#settings ul {
	list-style: none;
}

#side-menu {
	border-color: var(--background-color);
	border-radius: 4px 4px 4px 4px !important;
	float: right;
	height: 80vh;
	width: 300px;
	margin-right: 10px;
	margin-top: 10px;
}

#side-menu ul {
	background: var(--foreground-color);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
}

#side-menu li {
	font-size: 14px;
	list-style: none;
	padding: 10px 10px 10px 10px;
	border-color: var(--background-color);
	border-bottom-style: solid;
	border-width: 1px;
	min-height: 22px;
}

#side-menu li p {
	margin-top: 10px;
}

#side-menu li span {
	font-weight: bold;
}

#side-menu li img {
	float: left;
	margin-right: 5px;
}

#side-menu li:hover {
	background: rgba(20, 20, 20, 0.5);
	cursor: pointer;
}

#side-menu a {
	background: none !important;
	color: var(--link-color) !important;
	padding: 0;
	text-decoration: none;
}

#timeline {
	position: relative;
	float: left;
	height: 80vh;
	width: 600px;
	margin-top: 10px;
	margin-left: 10px;
}

#timeline-menu {
	height: 35px;
	padding: 0;
	border-top-left-radius: 4px !important;
	border-top-right-radius: 4px !important;
}

#timeline-menu ul {
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;
	height: 100%;
	width: 100%;
}

#timeline-menu li {
	box-sizing: border-box;
	float: left;
	height: 100%;
	width: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#user-menu {
	background: var(--background-color);
	border-radius: 4px !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	height: 40px;
	width: 910px;
}

#user-menu ul {
	margin: 0;
	padding: 0;
}

#user-menu ul ul {
	background: var(--background-color);
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
}

#user-menu ul li:hover > ul {
	display: block;
}

#user-menu li {
	float: left;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	min-width: 100px;
	border-right: 1px solid #ccc;
}

#user-menu li:first-of-type {
	border: none;
}

#user-menu li:last-of-type {
	border: none;
}

#user-menu li img {
	float: left;
	margin-right: 5px;
}

#user-menu a {
	color: var(--top-bar-text-color);
	text-decoration: none;
}

.generic-container {
	background: var(--background-color);
	padding: 1px 20px 4px 20px;
	border-radius: 4px !important;
  line-height: 1.5;
}

.generic-container h2 {
	border-bottom-color: var(--focus-color);
	border-bottom-style: solid;
}

.generic-container a {
	color: var(--link-color);
	text-decoration: none;
}

#wrapper {
	background: rgba(20, 20, 20, 0.5);
	margin: auto;
	min-height: 1000px;
	height: 100vh;
	width: 930px;
}

.account-avatar-small {
	border-radius: 2px;
	height: 20px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--background-color);
	min-width: 112px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 8px 16px;
	z-index: 1;
  border: 1px solid transparent;
  border-radius: 2px;
}

ul.dropdown-content {
    list-style: none;
    text-align: initial;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.footer {
	background: var(--background-color);
        border-bottom-left-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
        font-size: 16px;
        padding-top: 10px;
        padding-left: 10px;
        height: 25px;
}

.footer ul { margin: 0; padding: 0; }

.footer li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

.header {
	background: var(--background-color);
	border-top-left-radius: 4px !important;
        border-top-right-radius: 4px !important;
	font-size: 16px;
	padding-top: 10px;
	padding-left: 10px;
	height: 25px;
}

.icon-arrow-down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.mention {
	background: var(--button-background-color) !important;
	border-radius: 16px;
	color: var(--button-text-color) !important;
	padding: 2px 4px 2px 4px;
}

.notification-status-content {
	margin: 0;
	margin-top: 5px;
}

.panel {
	background: var(--background-color);
	padding: 1px 20px 4px 20px;
	border-radius: 4px !important;
}

.panel h2 {
	border-bottom-color: var(--focus-color);
	border-bottom-style: solid;
}

.status {
	background: var(--foreground-color);
	width: 100%;
	float: left;
	border-color: var(--focus-color);
	border-bottom-style: solid;
	border-width: 2px;
}

.status-content {
	font-size: 16px;
	word-wrap: break-word;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 5px;
	float: left;
	min-width: 90%;
}

.status-content img:first-child {
	height: 250px;
        border-radius: 16px;
	float: left;
	margin-right: 50%;
	margin-top: 10px;
}

.status-content img:not(:first-child) {
	margin-top: 10px;
	height: 100px;
	width: 100px;
	border-radius: 16px;
	margin-right: 10px;
	float: left;
}

.status-content a {
	color: var(--link-color);
	text-decoration: none;
}

.status-info-meta a {
	font-size: 12px;
	color: #666d81;
	text-decoration: none;
	float: right;
	margin-top: 5px;
	margin-right: 12px;
}

.status-info img { 
	float: left;
	height: 15px;
	margin-top: 5px;
	margin-bottom: 3px;
	padding-right: 4px;
	filter: contrast(50%);
}

.status-favourite-button:hover {
	filter: invert(14%) sepia(77%) saturate(6058%) hue-rotate(357deg) brightness(99%) contrast(112%);
	cursor: pointer;
}

.status-reply-button:hover {
	filter: invert(70%) sepia(31%) saturate(2511%) hue-rotate(184deg) brightness(99%) contrast(106%);
	cursor: pointer;
}

.status-share-button:hover {
	filter: invert(73%) sepia(54%) saturate(6296%) hue-rotate(80deg) brightness(117%) contrast(125%);
	cursor: pointer;
}

.status-footer {
	font-size: 12px;
	border-color: var(--focus-color);
	border-top-style: solid;
	border-width: 2px;
	float: left;
	width: 100%
}

.status-footer a {
	color: #666d81;
	text-decoration: none;
}

.status-footer-inner {
	padding: 4px 4px 4px 4px;
}

.status-info {
	font-size: 20px;
	border-color: var(--focus-color);
	border-top-style: dotted;
	border-width: 1px;
	float: left;
	width: 100%;
  padding: 2px 0;
}

.status-info-count {
	font-size: 14px;
	text-decoration: none;
	color: var(--text-color);
	position: sticky;
}

.status-info ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.status-info li {
	margin: 0;
	float: left;
	margin-left: 10px;
	width: 35px;
}

.status-reblog-avatar {
	float: left;
	height: 25px !important;
	width: 25px !important;
	margin: 0 !important;
	margin-top: 15px !important;
}

.status-reblog-content {
	background: var(--focus-color);
	border-radius: 4px;
	padding: 4px 4px 4px 4px;
	clear: both;
	float: left;
	width: 560px;
	margin: 0;
	margin-top: 10px;
}

.status-reblog-divider {
	font-weight: bold;
	float: left;
	width: 100%;
	margin-top: 5px;
	margin-right: 15px;
}

.inner-icon {
    height: 15px !important;
    margin: 0 !important;
    padding-right: 5px;
}

.status-reblog-username {
	color: var(--text-color) !important;
	font-size: 15px;
	float: left;
	margin-top: 18px;
	margin-left: 10px;
}

.status-user-avatar {
	border-radius: 5px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 50px;
}

.status-user-info {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

.status-user-info-displayname {
	font-size: 14px;
}

.status-user-info-displayname a {
	color: var(--text-color);
	text-decoration: none;
}

.status-user-info-username {
	font-size: 12px;
	margin-top: 2px;
}

.status-user-info-username a {
	color: #666d81;
	text-decoration: none;
}

.timeline-pagination {
	margin-right: 5px !important;
	float: right !important;
}

.timeline-pagination a {
	background: var(--link-color);
	border-radius: 4px;
	padding: 2px;
	color: var(--button-text-color);
	text-decoration: none;
}

.timeline-menu-active-tab {
	border-bottom-color: var(--link-color);
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.timeline-menu-compose {
	background: var(--button-background-color);
	border-top-right-radius: 4px;
	position: relative;
}

.timeline-menu-compose a {
	display: block;
	height: 100%;
	width: 100%;
	color: var(--button-text-color) !important;
}

.timeline-menu-compose img {
	filter: invert(96%) sepia(0%) saturate(5%) hue-rotate(130deg) brightness(106%) contrast(102%);
	height: 15px;
	position: absolute;
   	top: 25%;
   	left: 45%;
}

#timeline-menu a {
	text-decoration: none;
	color: var(--text-color);
}

#timeline-menu li:hover {
	background: var(--focus-color);
}

#timeline-menu button {
	background: blue;
}

.message {
    border: 1px solid var(--link-color);
    border-radius: 4px;
    padding: 8px;
}

.dropdown-link-item {
   text-decoration: none;
   color: var(--text-color);
}

.text-shadow {
    text-shadow: 1px 1px 1px #000;
}

.spoiler-button {
    background-color: var(--secondary-btn-bg);
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 2px;
    margin: 10px 0;
}

p {
    margin: 0;
}
